<h1><%= @contact[:name]%></h1>
<p>Mobile/Extensions</p>
<p>
	<ul>
		<% mobiles = @contact.mobiles%>
		<% mobiles.each do |mobile|%>
		<li><%= mobile.details%> <%= mobiles.type%></li>
		<% end %>
	</ul>
</p>

<p>Emails</p>
<p>
	<ul>
		<% emails = @contact.emails%>
		<% emails.each do |email|%>
		<li><%= email.address%></li>
		<% end %>
	</ul>
</p>