<div class ="fields">
    		<%= f.select :mtype,options_for_select([["HOME", "HOME"], ["WORK", "WORK"],["OTHER", "OTHER"]], :selected => f.object[:mtype])%>
   	 		<%= f.text_field :details %>
   	 		<%= link_to_remove_fields "remove", f%>
</br>
</div>