<div class ="fields">
    		<%= f.select :mtype,options_for_select([["HOME", "H"], ["WORK", "W"],["OTHER", "O"]])%>
   	 		<%= f.text_field :details %>
   	 		<%= link_to_remove_fields "remove", f%>
</br>
</div>